    <header>
      <div class="cabecera">
        <div>
          <img class="header_logo" src="img/logo_trnsp.png" alt="icon" />
        </div>
        <div class="search">
          <input placeholder="Buscar" type="text" id="buscarInput" />
          <!--<button onclick="buscar()">🔍</button>-->
        </div>
      </div>
      <nav class="navegacion-principal">
        <section class="pte1">
          <div class="link">
            <a href="index.html">Inicio</a>
          </div>
          <div class="link">
            <a href="Q&A.html">Q&A</a>
          </div>
          <div class="link">
            <a href="sobreNosotros.html">Nosotros</a>
          </div>
        </section>
        <section class="pte2" id="linkUsuario">
          <div class="link">
              <a href="login.html">
                  <!-- Inicio de sesion -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#031A16" stroke-linecap="round" stroke-linejoin="round" width="32" height="32" stroke-width="2"> 
                      <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path> 
                      <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path> 
                  </svg> 
              </a>
          </div>
      </section>
      </nav>
    </header>

    <div class="cabeceraAbUs">
      <h1>Sobre nosotros</h1>
    </div>
    <div class="contenedorAboutUs">
      <div class="contenidoAboutUs">
        <p>
          Somos un emprendimiento dedicado a la preservación y celebración de la
          música en sus formatos clásicos, especialmente vinilos, cassettes y
          CD's. Para los verdaderos amantes del sonido auténtico, cada uno de
          nuestros productos es cuidadosamente seleccionado para ofrecer una
          experiencia única, rescatando la calidez y esencia del sonido
          analógico. Creemos en la importancia de mantener viva la cultura de lo
          retro en una época donde lo digital predomina.
        </p>
        <p>
          Además de nuestra colección musical, contamos con una selección
          exclusiva de artículos como figuras coleccionables y pines. Estos
          complementos, ideales para personalizar espacios o estilos, combinan
          detalles nostálgicos con un toque de actualidad, siendo perfectos para
          quienes desean expresar su individualidad a través de piezas únicas.
        </p>
        <p>
          En nuestro catálogo, nostalgia y modernidad se encuentran, creando un
          espacio donde lo vintage se mezcla con lo contemporáneo para ofrecer
          una experiencia integral. Ya sea que busques revivir los clásicos o
          descubrir ediciones limitadas, en nuestra tienda encontrarás el lugar
          perfecto para tu pasión por la música y la cultura pop.
        </p>
      </div>
    </div>

