<main>
    <section class="Imagen-Bienvenida">
        <div class="Contenido-Bienvenida">
            <h1>Psycho Rekord's</h1>
            <p>Discos de vinilo y mas...</p>
        </div>
    </section>
    <section class="secciones-tienda">
        <div class="section1">
            <a href="novedades.html">
                <!-- Enlace a la seccion de novedades -->
                <img src="enlace1.png" alt="icon">
            </a>
        </div>
        <div class="section2">
            <a href="discos.html">
                <!-- Enlace a la seccion de musica -->
                <img src="img/enlace2.png" alt="icon">
            </a>
        </div>
    </section>
</main>